.mv-poster{
  height: 420px;
  width:320px;
}

.mv-summary{
  width: 350px;
 
}
.mv-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mv-container{
  width: 350px;
  margin: 30px;
  padding-top: 200px;
  
}  
.mv-list{
  display: flex;
   flex-wrap:wrap ;
   /* gap: 20px; */
   flex-wrap: wrap;
   justify-content: space-between;
}

.btn{
  width:70px;
  height: 45px;
  border-radius: 15px;
  gap:30px;
  font-size: 20px;
}

.new-mv-adding{
  display: flex;
  flex-direction: column;
  width: 400px;
}

