.mv-poster{
  height: 420px;
  width:320px;
}

.mv-summary{
  width: 350px;
 
}
.mv-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mv-container{
  width: 350px;
  margin: 30px;
  padding-top: 200px;
  
}  
.mv-list{
  display: flex;
   flex-wrap:wrap ;
   /* gap: 20px; */
   flex-wrap: wrap;
   justify-content: space-between;
}

.btn{
  width:70px;
  height: 45px;
  border-radius: 15px;
  gap:30px;
  font-size: 20px;
}

.new-mv-adding{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.poster{
 /* box-shadow: -1px 0 10px #000000; */
 box-shadow: 10px 11px 20px 5px black;
 background-color: black;
 justify-content: center;
  margin: 15px;
width: 320px;
height: 420px;
align-items: center;
}

.poster:hover{
transform: scale(1.1);
z-index: 0.5px;
}