.mv-poster{
  height: 420px;
  width:320px;
}

.mv-summary{
  width: 350px;
 
}
.mv-display{
  display: flex;
  justify-content: space-between;
}
.mv-container{
  width: 350px;
  margin: 30px;
  padding-top: 200px;
  
}  
.mv-list{
  display: flex;
   flex-wrap:wrap ;
}

.btn{
 
  width:80px;
  height: 50px;
  border-radius: 15px;
  gap:50px;
  font-size:30px;
  border: none;

}

.new-mv-adding{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 20px;
  padding: 30px;
  gap:8px;
}